@config "./../tailwind.config.js";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'DM Sans';       
}

@layer components {
    .Text-title {
        @apply text-black text-[22px] font-[500];
    }

    .Text-small {
        @apply text-grey-medium text-[14px] font-[400];
    }
}
